AWS::Lambda::Function KmsKeyArn == /arn:aws:kms:([a-z]{2}-[a-z]+-\d{1}):(\d{12}):key/.*/ OR AWS::Lambda::Function KmsKeyArn == /\{"Fn::GetAtt":\[[a-zA-Z0-9",\[\]]+\]\}/
AWS::Lambda::Function Tags == /[\[\{\}a-zA-Z0-9\]]+/
AWS::Serverless::Function Tags == /.+/
AWS::Serverless::Function KmsKeyArn == /arn:aws:kms:([a-z]{2}-[a-z]+-\d{1}):(\d{12}):key/.*/ OR AWS::Serverless::Function KmsKeyArn == /\{"Fn::GetAtt":\[[a-zA-Z0-9",\[\]]+\]\}/
AWS::Serverless::Function Role == /arn:aws:iam::(\d{12}):role/service-role/.+/ OR AWS::Serverless::Function Role == /\{"Fn::GetAtt":\[[a-zA-Z0-9",\[\]]+\]\}/
AWS::Lambda::Permission FunctionName == /arn:aws:lambda:([a-z]{2}-[a-z]+-\d{1}):(\d{12}):function:([a-zA-Z0-9-_]+):([a-zA-Z0-9-_]+)/ OR AWS::Lambda::Permission FunctionName == /\{"Fn::GetAtt":\[[a-zA-Z0-9",\[\]]+\]\}/
AWS::Lambda::Permission FunctionName != /arn:aws:lambda:([a-z]{2}-[a-z]+-\d{1}):(\d{12}):function:([a-zA-Z0-9-_]+):(\$LATEST)/
AWS::Lambda::Permission FunctionName != /(.+):(\$LATEST)/
AWS::Lambda::Permission Action == /lambda:[a-zA-Z]+/
AWS::Lambda::Permission Principal IN [apigateway.amazonaws.com]
AWS::Lambda::Permission SourceArn == /.+/
AWS::Lambda::Permission Principal != /\*+/
AWS::Lambda::Permission SourceAccount == /\d{12}/ OR AWS::Lambda::Permission SourceArn == /arn:(aws[a-zA-Z0-9-]*):([a-zA-Z0-9\-])+:([a-z]{2}(-gov)?-[a-z]+-\d{1})?:(\d{12})?:(.*)/ OR AWS::Lambda::Permission SourceArn == /\{"Fn::GetAtt":\[[a-zA-Z0-9",\[\]]+\]\}/ OR AWS::Lambda::Permission SourceArn == /\{"Fn::Join":\[(.)+\]\}/
AWS::Lambda::LayerVersionPermission OrganizationId == /o-[a-z0-9]{10,32}/ OR AWS::Lambda::LayerVersionPermission OrganizationId == ${ORG_ID}
AWS::Lambda::LayerVersionPermission Principal == /\d{12}/ OR AWS::Lambda::LayerVersionPermission Principal == /arn:(aws[a-zA-Z-]*):iam::\d{12}:root/ OR AWS::Lambda::LayerVersionPermission Principal == /\{"Fn::GetAtt":\[[a-zA-Z0-9",\[\]]+\]\}/ OR AWS::Lambda::LayerVersionPermission Principal == /\{"Fn::Join":\[(.)+\]\}/
AWS::Lambda::LayerVersionPermission Principal != /\*+/
AWS::Lambda::Version FunctionName == /arn:aws:lambda:([a-z]{2}-[a-z]+-\d{1}):(\d{12}):function:([a-zA-Z0-9-_]+):([a-zA-Z0-9-_]+)/ OR AWS::Lambda::Permission FunctionName == /\{"Fn::GetAtt":\[[a-zA-Z0-9",\[\]]+\]\}/
AWS::Lambda::Alias FunctionName == /arn:aws:lambda:([a-z]{2}-[a-z]+-\d{1}):(\d{12}):function:([a-zA-Z0-9-_]+):([a-zA-Z0-9-_]+)/ OR AWS::Lambda::Permission FunctionName == /\{"Fn::GetAtt":\[[a-zA-Z0-9",\[\]]+\]\}/
AWS::Lambda::Alias FunctionVersion == /[0-9]+/
AWS::Lambda::Alias FunctionVersion != /(\$LATEST)/
AWS::Logs::LogGroup LogGroupName == /([\.\-_/A-Za-z0-9])+/ OR AWS::Logs::LogGroup LogGroupName == /\{"Fn::GetAtt":\[[a-zA-Z0-9",\[\]]+\]\}/
AWS::IAM::Role AssumeRolePolicyDocument.Version == /(\d{4})-(\d{2})-(\d{2})/