AWS::ApiGateway::Deployment StageDescription.DataTraceEnabled == false OR AWS::ApiGateway::Stage MethodSettings.*.DataTraceEnabled == false
AWS::ApiGateway::Method RequestValidatorId == ${REQUEST_VALIDATOR_ID} OR AWS::ApiGateway::Method RequestValidatorId == /\{"Fn::GetAtt":\[[a-zA-Z0-9",\[\]]+\]\}/ OR AWS::ApiGateway::Method RequestValidatorId == /\{"Ref":[a-zA-Z0-9"]+\}/
AWS::ApiGateway::RequestValidator RestApiId == ${REST_API_ID} OR AWS::ApiGateway::RequestValidator RestApiId == /\{"Fn::GetAtt":\[[a-zA-Z0-9",\[\]]+\]\}/ OR AWS::ApiGateway::RequestValidator RestApiId == /\{"Ref":[a-zA-Z0-9"]+\}/
AWS::ApiGateway::RequestValidator ValidateRequestParameters == true
AWS::ApiGateway::RequestValidator ValidateRequestParameters == true OR AWS::ApiGateway::RequestValidator ValidateRequestBody == true
AWS::WAFRegional::WebACLAssociation WebACLId == ${WEB_ACL_ID} OR AWS::WAFRegional::WebACLAssociation WebACLId == /\{"Fn::GetAtt":\[[a-zA-Z0-9",\[\]]+\]\}/ OR AWS::WAFRegional::WebACLAssociation WebACLId == /\{"Ref":[a-zA-Z0-9"]+\}/
AWS::WAFRegional::WebACLAssociation ResourceArn == ${REST_API_ARN} OR AWS::WAFRegional::WebACLAssociation ResourceArn == /arn:aws:execute-api:[a-zA-Z0-9-:/*]+/ OR AWS::WAFRegional::WebACLAssociation ResourceArn == /\{"Fn::GetAtt":\[[a-zA-Z0-9",\[\]]+\]\}/
AWS::ApiGateway::Stage MethodSettings.*.ThrottlingBurstLimit == /(\d+)/ OR AWS::ApiGateway::Deployment StageDescription.*.ThrottlingBurstLimit == /(\d+)/ OR AWS::ApiGateway::Deployment MethodSettings.*.ThrottlingBurstLimit == /(\d+)/ OR AWS::ApiGateway::UsagePlan Throttle.BurstLimit == /(\d+)/
AWS::ApiGateway::Stage MethodSettings.*.ThrottlingRateLimit == /(\d+)/ OR AWS::ApiGateway::Deployment StageDescription.*.ThrottlingRateLimit == /(\d+)/ OR AWS::ApiGateway::Deployment MethodSettings.*.ThrottlingRateLimit == /(\d+)/ OR AWS::ApiGateway::UsagePlan Throttle.RateLimit == /(\d+)/
AWS::ApiGateway::Method AuthorizationType != NONE
AWS::ApiGateway::Deployment StageDescription.ClientCertificateId == ${CLIENT_CERTIFICATE_ID} OR AWS::ApiGateway::Stage ClientCertificateId == /\{"Fn::GetAtt":\[[a-zA-Z0-9",\[\]]+\]\}/ OR AWS::ApiGateway::Stage ClientCertificateId == /\{"Ref":[a-zA-Z0-9"]+\}/
AWS::ApiGateway::Account CloudWatchRoleArn == CLOUDWATCH_ROLE_ARN OR AWS::ApiGateway::Account CloudWatchRoleArn == /arn:aws:iam::(\d{12}):role/.*/ OR AWS::ApiGateway::Account CloudWatchRoleArn == /\{"Fn::GetAtt":\[[a-zA-Z0-9",\[\]]+\]\}/
AWS::ApiGateway::Stage AccessLogSetting.DestinationArn == $(DESTINATION_ARN) OR AWS::ApiGateway::Deployment StageDescription.AccessLogSetting.DestinationArn == /arn:aws:logs:([a-z]{2}-[a-z]+-\d{1}):(\d{12}):log-group:API-Gateway-Execution-Logs_.*/ OR AWS::ApiGateway::Deployment StageDescription.AccessLogSetting.DestinationArn == /\{"Fn::GetAtt":\[[a-zA-Z0-9",\[\]]+\]\}/
AWS::ApiGateway::Deployment StageDescription.LoggingLevel != OFF OR AWS::ApiGateway::Deployment MethodSettings.*.LoggingLevel != OFF