name: Rust

on:
  push:
    branches: [ lambda_tests ]
#  pull_request:
#    branches: [ main ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: Build
      run: cargo build --release --verbose
    - name: Run tests
      run: cargo test --verbose
  
  shellcheck:
    
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Shellcheck
      run: shellcheck install-guard.sh

  test-lambda:

    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: read

    steps:
      - name: Check out code
        uses: actions/checkout@v3

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-region: ${{ secrets.AWS_REGION }}
          role-to-assume: ${{ secrets.LAMBDA_CREATION_ROLE_NAME }}
          role-session-name: LambdaTestGitHubAction

      - name: Deploy cfn-guard-lambda
        env:
          AWS_ACCOUNT_ID: ${{ secrets.AWS_ACCOUNT_ID }}
          AWS_REGION: ${{ secrets.AWS_REGION }}

        run: |
          LAMBDA_FUNCTION_PREFIX=GhGrdLmb
          git_hash=$(git rev-parse --short "$GITHUB_SHA")
          git_branch=${GITHUB_REF#refs/heads/}
          commit_hash=${git_branch}_${git_hash}
          LAMBDA_FUNCTION_NAME=${LAMBDA_FUNCTION_PREFIX}_${commit_hash}
          ROLE_NAME="${LAMBDA_FUNCTION_NAME}Role"
          
          rustup target add x86_64-unknown-linux-musl
          cd guard-lambda
          cargo build --release --target x86_64-unknown-linux-musl --verbose
          cp ./../target/x86_64-unknown-linux-musl/release/cfn-guard-lambda ./bootstrap && zip lambda.zip bootstrap && rm bootstrap
        
          aws iam create-role \
            --role-name $ROLE_NAME \
            --assume-role-policy-document '{"Version": "2012-10-17","Statement": [{ "Effect": "Allow", "Principal": {"Service": "lambda.amazonaws.com"}, "Action": "sts:AssumeRole"}]}'
          
          aws iam attach-role-policy --role-name $ROLE_NAME \
            --policy-arn arn:aws:iam::aws:policy/service-role/AWSLambdaBasicExecutionRole
          
          sleep 10
          
          aws lambda create-function \
            --function-name $LAMBDA_FUNCTION_NAME \
            --handler guard.handler \
            --zip-file fileb://./lambda.zip \
            --runtime provided \
            --role "arn:aws:iam::${AWS_ACCOUNT_ID}:role/${ROLE_NAME}" \
            --environment Variables={RUST_BACKTRACE=1} \
            --tracing-config Mode=Active \
            --region $AWS_REGION
        

      - name: Invoke Lambda and test output
        run: |
          LAMBDA_FUNCTION_PREFIX=GhGrdLmb
          git_hash=$(git rev-parse --short "$GITHUB_SHA")
          git_branch=${GITHUB_REF#refs/heads/}
          commit_hash=${git_branch}_${git_hash}
          LAMBDA_FUNCTION_NAME=${LAMBDA_FUNCTION_PREFIX}_${commit_hash}
          
          aws lambda invoke \
            --function-name $LAMBDA_FUNCTION_NAME \
            --payload '{"data":"{\"Resources\":{\"NewVolume\":{\"Type\":\"AWS::EC2::Volume\",\"Properties\":{\"Size\":500,\"Encrypted\":true,\"AvailabilityZone\":\"us-west-2b\"}},\"NewVolume2\":{\"Type\":\"AWS::EC2::Volume\",\"Properties\":{\"Size\":50,\"Encrypted\":true,\"AvailabilityZone\":\"us-west-2c\"}}}}","rules":["let ec2_volumes = Resources.*[ Type == /EC2::Volume/ ]\nrule EC2_ENCRYPTION_BY_DEFAULT when %ec2_volumes !empty {\n    %ec2_volumes.Properties.Encrypted == true \n      <<\n            Violation: All EBS Volumes should be encryped \n            Fix: Set Encrypted property to true\n       >>\n}"],"verbose":false}' \
            --cli-binary-format raw-in-base64-out \
            output.json
          
          echo '{"message":[{"data_from":"lambda-payload","rules_from":"lambda-rule","not_compliant":{},"not_applicable":[],"compliant":["EC2_ENCRYPTION_BY_DEFAULT"]}]}' > expected-output.json
          
          difference=`diff expected-output.json output.json -w | wc -c`
          
          if [ "$difference" != 0 ]
          then
            echo "Lambda output does not match the expected one"
            echo "--------------------------------"
            echo "Actual output:"
            cat output.json
            echo "--------------------------------"
            echo "Expected output:"
            cat expected-output.json
            echo "--------------------------------"
            echo "diff:"
            echo "$difference"
            exit 1
          fi

      - name: Clean up resources
        if: success() || failure()
        run: |
          LAMBDA_FUNCTION_PREFIX=GhGrdLmb
          git_hash=$(git rev-parse --short "$GITHUB_SHA")
          git_branch=${GITHUB_REF#refs/heads/}
          commit_hash=${git_branch}_${git_hash}
          LAMBDA_FUNCTION_NAME=${LAMBDA_FUNCTION_PREFIX}_${commit_hash}
          ROLE_NAME="${LAMBDA_FUNCTION_NAME}Role"
          
          aws lambda delete-function --function-name $LAMBDA_FUNCTION_NAME
          aws iam detach-role-policy \
            --role-name $ROLE_NAME \
            --policy-arn arn:aws:iam::aws:policy/service-role/AWSLambdaBasicExecutionRole
          aws iam delete-role --role-name $ROLE_NAME
