name: CloudFormation Guard Analysis

on:
  schedule:
    - cron: '*/5 * * * *'

jobs:
  guard:
    runs-on: ubuntu-latest
    name: CloudFormation Guard analyze
    steps:
      - name: CloudFormation Guard analyze
        uses: dannyvassallo/cloudformation-guard@action-v0.0.037
        with:
          rules: './guard/resources/validate/rules-dir/'
          data: './guard/resources/validate/data-dir/'
          analyze: true
          token: ${{ secrets.GITHUB_TOKEN }}